<%-include("header") -%>
<h2>This the about Page</h2>
<p>
  I am sethuraman a Gadgets lover especially mobiles and other such gadgets, I just love to do stuffs and make new things.
</p>
<%-include("footer") -%>
